<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"/>
    <title>Universis</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h3>New message</h3>
    </div>
    <p>Dear <%= model.candidate.givenName %> <%= model.candidate.familyName %></p>
    <p>
        You have a new message. Please go to register application and check your messages.
    </p>
    <br>
    <p>Best regards</p>
    <p>Universis Support</p>
</div>
</body>
</html>
